body {
    color: #52FF6D;
}

div.wrap {
    margin: 0 auto;
}

form {
    text-align: center;
}

form * {
    display: block;
    text-align: center;
    font-size: 20px;
}

label input {
    margin: 15px auto;
}

input {
    width: 220px;
    height: 26px;
    border-radius: 13px;
    margin: 0 auto;
    font-family: 'Merriweather Sans', sans-serif;
}

.button {
    height: 30px;
    margin: 20px auto;
    line-height: 20px;
}

form p {
    font-size: 25px;
}